body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p {
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 12px;
}

span {
    display: flex;
    justify-content: space-between;
}

input {
    width: 97%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
}

img {
    display: block;
    margin: 0 auto; /* Mengatur margin kiri dan kanan menjadi otomatis */
    max-width: 50%;
    height: auto;
}

.rumus {
    max-width: 100%;
    display: none;
    margin: auto;
}

#shapeSwitch:checked + .content #id_keliling {
    display: block;
}

#shapeSwitch:checked + .content #id_luas {
    display: block;
}

.hitung {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.reset {
    background-color: #ff1808;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#result {
    margin-top: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center {
    display: grid;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
/* Switch Button Style */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}